doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Roostagram!
    link(rel='stylesheet', href='/app.css')
  body
    #app
    if target == 'dev'
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

      script(src='/src/traceur.js')
      script(src='/node_modules/es6-module-loader/dist/es6-module-loader.js')
      script(src='/node_modules/systemjs/dist/system.js')

      script.
        System.config({
          baseURL: '/',

          paths: {
            backbone: '/node_modules/backbone/backbone.js',
            jquery: '/node_modules/jquery/dist/jquery.js',
            underscore: '/node_modules/lodash/dist/lodash.js',
            lodash: '/node_modules/lodash/dist/lodash.js',
            tmpl: 'src/plugins/lodash-runtime.js'
          }
        });

    else
      script(src='/traceur-runtime.js')
      script(src='/es6-module-loader.js')
      script(src='/system.js')
      script(src='/app.js')

    script.
      System.import('src/main').catch(function(ex) {
        console.log(ex); 
      });
